.t-amber,.t-hover-amber:hover{color:#000;background-color:#ffc107}
.t-aqua,.t-hover-aqua:hover{color:#000;background-color:#00ffff}
.t-blue,.t-hover-blue:hover{color:#fff;background-color:#2196F3}
.t-light-blue,.t-hover-light-blue:hover{color:#000;background-color:#87CEEB}
.t-brown,.t-hover-brown:hover{color:#fff;background-color:#795548}
.t-cyan,.t-hover-cyan:hover{color:#000;background-color:#00bcd4}
.t-blue-grey,.t-hover-blue-grey:hover,.t-blue-gray,.t-hover-blue-gray:hover{color:#fff;background-color:#607d8b}
.t-green,.t-hover-green:hover{color:#fff;background-color:#4CAF50}
.t-light-green,.t-hover-light-green:hover{color:#000;background-color:#8bc34a}
.t-indigo,.t-hover-indigo:hover{color:#fff;background-color:#3f51b5}
.t-khaki,.t-hover-khaki:hover{color:#000;background-color:#f0e68c}
.t-lime,.t-hover-lime:hover{color:#000;background-color:#cddc39}
.t-orange,.t-hover-orange:hover{color:#000;background-color:#ff9800}
.t-deep-orange,.t-hover-deep-orange:hover{color:#fff;background-color:#ff5722}
.t-pink,.t-hover-pink:hover{color:#fff;background-color:#e91e63}
.t-purple,.t-hover-purple:hover{color:#fff;background-color:#9c27b0}
.t-deep-purple,.t-hover-deep-purple:hover{color:#fff;background-color:#673ab7}
.t-red,.t-hover-red:hover{color:#fff;background-color:#f44336}
.t-sand,.t-hover-sand:hover{color:#000;background-color:#fdf5e6}
.t-teal,.t-hover-teal:hover{color:#fff;background-color:#009688}
.t-yellow,.t-hover-yellow:hover{color:#000;background-color:#ffeb3b}
.t-white,.t-hover-white:hover{color:#000;background-color:#fff}
.t-black,.t-hover-black:hover{color:#fff;background-color:#000}
.t-grey,.t-hover-grey:hover,.t-gray,.t-hover-gray:hover{color:#000;background-color:#9e9e9e}
.t-light-grey,.t-hover-light-grey:hover,.t-light-gray,.t-hover-light-gray:hover{color:#000;background-color:#f1f1f1}
.t-dark-grey,.t-hover-dark-grey:hover,.t-dark-gray,.t-hover-dark-gray:hover{color:#fff;background-color:#616161}
.t-pale-red,.t-hover-pale-red:hover{color:#000;background-color:#ffdddd}
.t-pale-green,.t-hover-pale-green:hover{color:#000;background-color:#ddffdd}
.t-pale-yellow,.t-hover-pale-yellow:hover{color:#000;background-color:#ffffcc}
.t-pale-blue,.t-hover-pale-blue:hover{color:#000;background-color:#ddffff}
.t-text-amber,.t-hover-text-amber:hover{color:#ffc107}
.t-text-aqua,.t-hover-text-aqua:hover{color:#00ffff}
.t-text-blue,.t-hover-text-blue:hover{color:#2196F3}
.t-text-light-blue,.t-hover-text-light-blue:hover{color:#87CEEB}
.t-text-brown,.t-hover-text-brown:hover{color:#795548}
.t-text-cyan,.t-hover-text-cyan:hover{color:#00bcd4}
.t-text-blue-grey,.t-hover-text-blue-grey:hover,.t-text-blue-gray,.t-hover-text-blue-gray:hover{color:#607d8b}
.t-text-green,.t-hover-text-green:hover{color:#4CAF50}
.t-text-light-green,.t-hover-text-light-green:hover{color:#8bc34a}
.t-text-indigo,.t-hover-text-indigo:hover{color:#3f51b5}
.t-text-khaki,.t-hover-text-khaki:hover{color:#b4aa50}
.t-text-lime,.t-hover-text-lime:hover{color:#cddc39}
.t-text-orange,.t-hover-text-orange:hover{color:#ff9800}
.t-text-deep-orange,.t-hover-text-deep-orange:hover{color:#ff5722}
.t-text-pink,.t-hover-text-pink:hover{color:#e91e63}
.t-text-purple,.t-hover-text-purple:hover{color:#9c27b0}
.t-text-deep-purple,.t-hover-text-deep-purple:hover{color:#673ab7}
.t-text-red,.t-hover-text-red:hover{color:#f44336}
.t-text-sand,.t-hover-text-sand:hover{color:#fdf5e6}
.t-text-teal,.t-hover-text-teal:hover{color:#009688}
.t-text-yellow,.t-hover-text-yellow:hover{color:#d2be0e}
.t-text-white,.t-hover-text-white:hover{color:#fff}
.t-text-black,.t-hover-text-black:hover{color:#000}
.t-text-grey,.t-hover-text-grey:hover,.t-text-gray,.t-hover-text-gray:hover{color:#757575}
.t-text-light-grey,.t-hover-text-light-grey:hover,.t-text-light-gray,.t-hover-text-light-gray:hover{color:#f1f1f1}
.t-text-dark-grey,.t-hover-text-dark-grey:hover,.t-text-dark-gray,.t-hover-text-dark-gray:hover{color:#3a3a3a}
.t-border-amber,.t-hover-border-amber:hover{border-color:#ffc107}
.t-border-aqua,.t-hover-border-aqua:hover{border-color:#00ffff}
.t-border-blue,.t-hover-border-blue:hover{border-color:#2196F3}
.t-border-light-blue,.t-hover-border-light-blue:hover{border-color:#87CEEB}
.t-border-brown,.t-hover-border-brown:hover{border-color:#795548}
.t-border-cyan,.t-hover-border-cyan:hover{border-color:#00bcd4}
.t-border-blue-grey,.t-hover-border-blue-grey:hover,.t-border-blue-gray,.t-hover-border-blue-gray:hover{border-color:#607d8b}
.t-border-green,.t-hover-border-green:hover{border-color:#4CAF50}
.t-border-light-green,.t-hover-border-light-green:hover{border-color:#8bc34a}
.t-border-indigo,.t-hover-border-indigo:hover{border-color:#3f51b5}
.t-border-khaki,.t-hover-border-khaki:hover{border-color:#f0e68c}
.t-border-lime,.t-hover-border-lime:hover{border-color:#cddc39}
.t-border-orange,.t-hover-border-orange:hover{border-color:#ff9800}
.t-border-deep-orange,.t-hover-border-deep-orange:hover{border-color:#ff5722}
.t-border-pink,.t-hover-border-pink:hover{border-color:#e91e63}
.t-border-purple,.t-hover-border-purple:hover{border-color:#9c27b0}
.t-border-deep-purple,.t-hover-border-deep-purple:hover{border-color:#673ab7}
.t-border-red,.t-hover-border-red:hover{border-color:#f44336}
.t-border-sand,.t-hover-border-sand:hover{border-color:#fdf5e6}
.t-border-teal,.t-hover-border-teal:hover{border-color:#009688}
.t-border-yellow,.t-hover-border-yellow:hover{border-color:#ffeb3b}
.t-border-white,.t-hover-border-white:hover{border-color:#fff}
.t-border-black,.t-hover-border-black:hover{border-color:#000}
.t-border-grey,.t-hover-border-grey:hover,.t-border-gray,.t-hover-border-gray:hover{border-color:#9e9e9e}
.t-border-light-grey,.t-hover-border-light-grey:hover,.t-border-light-gray,.t-hover-border-light-gray:hover{border-color:#f1f1f1}
.t-border-dark-grey,.t-hover-border-dark-grey:hover,.t-border-dark-gray,.t-hover-border-dark-gray:hover{border-color:#616161}
.t-border-pale-red,.t-hover-border-pale-red:hover{border-color:#ffe7e7}.t-border-pale-green,.t-hover-border-pale-green:hover{border-color:#e7ffe7}
.t-border-pale-yellow,.t-hover-border-pale-yellow:hover{border-color:#ffffcc}.t-border-pale-blue,.t-hover-border-pale-blue:hover{border-color:#e7ffff}